<div class="ui items">
<% matches['matches'].each_with_index do |match, index| %>
 <% queue_type = @queue.select{|x| x['queueId'] == match['queue'] }.first %>
 <% match_details = get_match_info(@region, match['gameId']) %>
 <% owner = define_owner_of_game(profile['summonerName'], match_details) %>
    <div class="item match-item <%= owner['stats']['win'] ? 'victory' : 'defeat' %>">
      <div class="content">
        <a class="header"><%= queue_type['map'] %> - <%= queue_type['description'] %></a>
        <div class="meta">
          <span><%= match['role'] %> - <%= match['lane'] %></span>
        </div>
        <div class="description">
          <div class="ui aligned padded grid">
            <div class="row">
              <div class="one wide column center-this">
                <%= owner['stats']['win'] ? 'Victory' : 'Defeat'%>
                <p><%= Time.at(match_details['gameDuration']).utc.strftime("%Mm%Ss") %></p>
              </div>
              <div class="three wide column">
                <% champion = get_name_from_id(@champion_json, owner['championId']) %>
                <div class="championIcon center">
                  <%= image_tag("/10.6.1/img/champion/#{champion['image']['full']}", class: "ui tiny circular image") %> 
                </div>
                <div class="summonerIcons">
                  <%= get_image_from_summoner_spell_id(@summoner_json, owner['spell1Id']) %>
                  <%= get_image_from_summoner_spell_id(@summoner_json, owner['spell2Id']) %>
                </div>
                <br>
                <p class="center-this"><%= champion['id'] %></p>
              </div>
              <div class="three wide column">
                <p class="score center-this"><%= owner['stats']['kills'] %> / <span class="red"><%= owner['stats']['deaths'] %></span> / <%= owner['stats']['assists'] %></p>
                <p class="kdaNumber center-this"><%= ((owner['stats']['kills'].to_f + owner['stats']['assists']) / owner['stats']['deaths'].to_f).round(2) %>:1 <span class="kdaText">KDA</span> </p>
              </div>
              <div class="three wide column"></div>
              <div class="five wide column">
                <div class="ui grid">
                  <div class="row">
                      <% match_details['participantIdentities'].each_slice(5).to_a.each do |team| %>
                      <div class="eight wide column">
                        <% team.each do |players| %>
                          <% player_details = match_details['participants'][players['participantId']-1] %> 
                          <% champion = get_name_from_id(@champion_json, player_details['championId']) %>
                          <p> <%= image_tag("/10.6.1/img/champion/#{champion['image']['full']}", class: "profileIconMatch") %> 
                              <%= players['player']['summonerName'].truncate(10) %>
                          </p>
                        <% end %>
                      </div> 
                      <% end %>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% break if index == 1 %>
<% end %>
