<% matches.each_with_index do |match, index| %>
 <% queue_type = @queue.select{|x| x['queueId'] == match['queue'] }.first %>
 <% match_details = get_match_info(@region, match['gameId']) %>
 <% owner = define_owner_of_game(profile['summonerName'], match_details) %>
    <div class="mb-2 card match-item <%= owner['stats']['win'] ? 'victory' : 'defeat' %>">
      <div class="card-body">
        <%= link_to "#{queue_type['map']} - #{queue_type['description']}", "/match/#{match['gameId']}", match_details: match_details %>
        <div class="description">
            <div class="row">
              <div class="col-2 text-center center">
                <%= owner['stats']['win'] ? 'Victory' : 'Defeat'%>
                <p><%= Time.at(match_details['gameDuration']).utc.strftime("%Mm%Ss") %></p>
              </div>
              <div class="col-2 text-center center">
                <% champion = get_name_from_id(@champion_json, owner['championId']) %>
                <div class="text-center">
                  <%= image_tag("http://ddragon.leagueoflegends.com/cdn/#{@version}/img/champion/#{champion['image']['full']}", class: "championIcon img-fluid") %> 
                </div>
                <div class="summonerIcons">
                  <%= get_image_from_summoner_spell_id(@summoner_json, owner['spell1Id']) %>
                  <%= get_image_from_summoner_spell_id(@summoner_json, owner['spell2Id']) %>
                </div>
                <br>
                <p class="center-this"><%= champion['id'] %></p>
              </div>
              <div class="col-2 text-center center p-0">
                <p class="score center-this"><%= owner['stats']['kills'] %> / <span class="red"><%= owner['stats']['deaths'] %></span> / <%= owner['stats']['assists'] %></p>
                <p class="kdaNumber center-this"><%= ((owner['stats']['kills'].to_f + owner['stats']['assists']) / owner['stats']['deaths'].to_f).round(2) %>:1 <span class="kdaText">KDA</span> </p>
                <p> Vision score: <%= owner['stats']['visionScore'] %></p>  
              </div>
              <div class="col-2">
                <% image = owner['stats']['item6'] == 0 ? "/images/0.png" : "http://ddragon.leagueoflegends.com/cdn/#{@version}/img/item/#{owner['stats']['item6']}.png" %>
                <%= image_tag(image, class: 'trinket') %>
                <% get_items(owner).each do |item| %>
                  <% if item[1] == 0 %>
                    <%= image_tag("/images/0.png", class: 'summonerIcons') %>
                  <% else %>
                    <%= image_tag("http://ddragon.leagueoflegends.com/cdn/#{@version}/img/item/#{item[1]}.png", class: 'summonerIcons') %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-4">
                <div class="ui grid">
                  <div class="row">
                      <% match_details['participantIdentities'].each_slice(5).to_a.each do |team| %>
                      <div class="team-table col-6 p-0">
                        <% team.each do |players| %>
                          <% player_details = match_details['participants'][players['participantId']-1] %> 
                          <% champion = get_name_from_id(@champion_json, player_details['championId']) %>
                          <div class="player"> <%= image_tag("http://ddragon.leagueoflegends.com/cdn/#{@version}/img/champion/#{champion['image']['full']}", class: "profileIconMatch") %> 
                              <span class="playerName"><%= players['player']['summonerName'].truncate(10) %></span>
                          </div>
                        <% end %>
                      </div> 
                      <% end %>
                  </div>
                </div>
                
              </div>
            </div>
        </div>
      </div>
    </div>
<% end %>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(pagy) if pagy %>
</div>
