<div class="card">
  <div class="card-body text-center p-0">
    <div class="header"><%= @summonerinfo['name'] %></div>
    <%= image_tag("http://ddragon.leagueoflegends.com/cdn/#{@version}/img/profileicon/#{@summonerinfo['profileIconId']}.png", class: "img-fluid rounded img-thumbnail small") %>
    <p>Level <%= @summonerinfo['summonerLevel'] %></p>
    <hr>
    <div class="header">Solo</div>
    <div class="meta">
      <%= image_tag("/images/ranked-emblems/Emblem_#{profile[0]['tier'].to_s.capitalize}.png", class: "img-fluid small") %>
    </div>
    <p><span><%= profile[0]['tier'] %> <%= profile[0]['rank'] %></span></p>
    <p>Body: <%= profile[0]['leaguePoints'] %> bodů</p>
    <p>Výhry: <%= profile[0]['wins'] %></p>
    <p>Prohry: <%= profile[0]['losses'] %></p>
    <%= 'hotstreak' if profile[0]['hotStreak'] %>
  </div>
</div>